<div class="row text-center">
    <div class="col-md-6 mt-4">
        <form #f ="ngForm" (ngSubmit)="save(f.value)">
            <div class="form-group ms-3">
                <label for="title">Title</label>
                <input #title="ngModel" [(ngModel)]="product && product.title" name="title" id="title" type="text" class="form-control" required>
                <div class="alert alert-danger" *ngIf="title.touched && title.invalid">Title is required</div>
            </div>
        
            <div class="form-group mb-3 ms-3">
                <label for="price">Price</label>
                <div class="input-group">
                    <span class="input-group-text">₹</span>
                    <input #price="ngModel" [(ngModel)]="product && product.price" name="price" id="price" type="text" class="form-control" required [min]="0">
                   </div>
                <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
                    <div *ngIf="price.errors['required']">Price is required</div>
                    <div *ngIf="price.errors['min']">Price should 0 or higher</div>
                </div>
            </div>
        
                <div class="form-group mb-3 ms-3">
                <label for="category">Category</label>
                <select #category="ngModel" [(ngModel)]="product && product.category" name="category" id="category" class="form-control" required>
                    <option value=""></option>
                    <option *ngFor="let c of categories$ | async" [value]="c.key">
                        {{c.name}}
                    </option>
                </select>
                <div class="alert alert-danger" *ngIf="category.touched && category.invalid">Category is required</div>
            </div>
        
            <div class="form-group mb-3 ms-3">
                <label for="imageUrl">Image URL</label>
                <input #imageUrl="ngModel" [(ngModel)]=" product && product.imageUrl" name="imageUrl" id="imageUrl" type="text" class="form-control" required url>
                <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
                    <div *ngIf="imageUrl.errors['required']">Image URL is required</div>
                    <div *ngIf="imageUrl.errors['url']">Please enter a valid URL</div>
                </div>
        `   </div>
            <div class="text-center"><button class="btn btn-light btn-outline-dark" >Save</button>
            <button type="button" class="btn btn-danger ms-3" (click)="Delete()">Delete</button></div>

        </form>
    </div>
    <div class="col-md-6 mt-4 ml-3">
        <div class="card" style="width: 18rem;">
            <img [src]="product && imageUrl.value" class="card-img-top">
            <div class="card-body">
              <h2 class="card-title">{{product && product.title}}</h2>
              <p class="card-text">{{ product && product.price | currency:'INR': 'symbol'}}</p>
            </div>
          </div>
    </div>
</div>


