<div class="container">
   <div class="card" style="width: 550px; height: 200px; ">
    <div class="card-img-top" style="padding: 5px;"><div><a href="https://www.freepnglogos.com/pics/google-logo" title="Logo"><img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-suite-everything-you-need-know-about-google-newest-0.png" width="95" alt="google logo png suite everything you need know about google newest" /></a>
      <span class="login-Heading">Login In to Organoshop with google</span>
    </div>
    <div class="card-body">
      <button class="btn btn-primary" (click)="SignInWithGoogle()">Login  with Google</button>
    </div>
  </div>
  </div>
  </div>


